.row
  .col-sm-5
    %h5= game_name
  .col-sm-7.video
    = link_to "Tutorial Video", "https://youtu.be/86Yple4PHno", target: "_blank"

.row.timestamps
  .col-sm-5
    %p.timestamp
      Round:
      %span.game-round= game_round
    %p.timestamp.pause-or-end
      = game_pause_or_end_label
      %span= game_pause_or_end_text
  .col-sm-7
    %p.timestamp
      Turn Ends:
      %span.utc-time.turn-end= turn_end
    %p.timestamp
      Time Left:
      %span{ class: time_left_classes }= turn_time_remaining

.row
  .col#ep{ dataset }= story
.row
  .col= buttons

.row
  .col.diff
    = link_to "Show changes since my last turn", user_turns_diff_path(user_token: user.token)
.row
  .col 
    Players
    %ul
      - players.each do |u|
        %li{ class: u.id == current_player_id ? "current-player" : nil }
          .square{ style: "background-color:#{u.author_color};"}
          = u.name
          = u.id == current_player_id ? " <== current player" : ""

