%h5= game_name

.row.timestamps
  .col-sm-5
    %p.timestamp
      Game ends:
      %span.game-ends= game_ends
    %p.timestamp
      Current Player:
      %span.current-player-name= current_player_name
  .col-sm-7
    %p.timestamp
      Turn Ends:
      %span.utc-time.turn-end= turn_end
    %p.timestamp
      Time Left:
      %span{ class: time_left_classes }= turn_time_remaining

%hr

.row
  .col#ep{ dataset }= story
.row
  .col= buttons

%hr

.row
  .col 
    Players
    %ul
      - players.each do |u|
        %li{ class: u.id == current_player_id ? "current-player" : nil }
          = u.name
          = u.id == current_player_id ? " <== current player" : ""

