%h5= game_name

.row.timestamps
  .col-sm-5
    %p.timestamp.game-start
      Game Started:
      %span.utc-time= game_start
    %p.timestamp.game-end
      Game Ends:
      %span.utc-time= game_end
    %p.timestamp.current-player-name
      Current Player:
      %span= current_player_name
  .col-sm-7
    %p.timestamp.turn-start
      Turn Started:
      %span.utc-time= turn_start
    %p.timestamp.turn-end
      Turn Ends:
      %span.utc-time= turn_end
    %p.timestamp.time-left
      Time Left:
      %span= turn_time_remaining

%hr

.row
  .col#ep= story
.row
  .col= finish_button
= etherpad_script

%hr

.row
  .col 
    Players
    %ul
      - if users.empty?
        no users yet
      - users.each do |u|
        %li{ class: u.id == current_player_id ? "current-player" : nil }
          = link_to u.name, "mailto:#{u.email}"
          = u.id == current_player_id ? " <== current player" : ""

