%h2= @game.name

= @turns.each do |t|
  %p.entry= t.entry

%p.timestamp Game Started:
  = @game.game_start
%p.timestamp Game Ends:
  = @game.game_end
%p.timestamp Current Turn Started:
  = @game.turn_start
%p.timestamp Current Turn Ends:
  = @game.turn_end

%ul
  = @users.each do |u|
    %li= @u.name
