<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
      Gentle reminder that the Lorem Ipsum game is waiting
      <br>
      for your amazing imagination, <%= @user.name %>
      </h3>
    <p>
      <a class="button" href="<%= @url %>">Let's Go</a><br>
      or use this link:<br>
      <a href="<%= @url %>"><%= @url %></a>
    </p>
    <% if @players.count > 0 %>
      <p>
        Players who've played since your last turn, in order:
        <ul>
          <% @players.each do |name| %>
            <li><%= name %></li>
          <% end %>
        </ul>
      </p>
    <% end %>
    <p>
      Round <%= @user.game.round %> of <%= @user.game.num_rounds %>
    </p>
  </body>
</html>