%h5= (@games.empty? ? "No " : "") + "Existing Games"

- @games.each do |g|
  %p
    %span.game-name{class: g.ended? ? "ended" : nil}= g.name + (g.ended? ? " (ended)" : "") + (g.paused? ? " (paused)" : "")
    %br
    = link_to "edit", edit_admin_game_path(g.id)
    = link_to "users", admin_game_users_path(g.id)
    = link_to g.paused? ? "resume" : "pause", toggle_paused_admin_game_path(g.id), data: { turbo_method: "post"}
    = link_to g.ended? ? "un-end" : "end", toggle_ended_admin_game_path(g.id), data: { turbo_method: "post"}
    = link_to "delete", admin_game_path(g.id), data: { turbo_method: "delete", turbo_confirm: "Really delete #{g.name}?" }

= link_to "New Game", new_admin_game_path, class: "btn btn-secondary"
