%h5= (@games.empty? ? "No " : "") + "Existing Games"

- @games.each do |g|
  %p
    = g.name
    %br
    -# = link_to "show", game_url(g.id)
    = link_to "edit", edit_admin_game_url(g.id)
    = link_to "users", admin_game_users_url(g.id)
    = link_to "delete", admin_game_url(g.id), data: { turbo_method: "delete", turbo_confirm: "Really delete #{g.name}?" }

= link_to "New Game", new_admin_game_url, class: "btn btn-secondary"
