%h5 New Game

= simple_form_for @form, as: :game, url: admin_games_path do |f|
  .row
    .col= f.error_notification
  .row
    .col= f.input :name, placeholder: "Game Name", label: false
  .row
    .col= f.input :game_days, placeholder: "Number of days for game (#{@default_game_days})", label: false
  .row
    .col= f.input :turn_hours, placeholder: "Number of hours per turn (#{@default_turn_hours})", label: false
  .row
    .col= f.button :submit, "Create Game", class: "btn-primary"
.row
  .col= link_to "Cancel", admin_games_path

