%h5 New Game

= simple_form_for @form, as: :game, url: admin_games_path do |f|
  .row
    .col= f.error_notification
  .row
    .col= f.input :name, placeholder: "Name", label: false
  .row
    .col= f.input :num_rounds, placeholder: "Number of Rounds", label: false
  .row
    .col= f.input :turn_hours, placeholder: "Hours per Turn", label: false
  .row
    .col= f.input :pause_rounds, placeholder: "Pause each N Rounds (zero = no pause)", label: false
  .row
    .col= f.input :shuffle, as: :boolean, label: "Shuffle"
  .row
    .col= f.button :submit, "Create Game", class: "btn-primary"
.row
  .col= link_to "Cancel", admin_games_path

