%h5 New Game

= simple_form_for @form, as: :game, url: admin_games_path do |f|
  .row
    .col= f.input :name, placeholder: "Game Name", label: false
  .row
    .col= f.input :game_days, placeholder: "Number of days for game", label: false
  .row
    .col= f.input :turn_days, placeholder: "Number of hours per turn", label: false
  .row
    .col= f.button :submit, "Create Game", class: "btn-primary"
.row
  .col= link_to "Cancel", admin_games_path

