%h2 Editing User

= simple_form_for @form, as: :user, url: users_post_path(@model.id), method: :patch do |f|
  .row
    .col= f.error_notification
  .row
    .col= f.input :name, placeholder: "Name", label: false
  .row
    .col= f.input :email, placeholder: "Email", label: false
  .row
    .col= f.input :game_id, as: :hidden
  .row
    .col= f.button :submit, "Update User", class: "btn-primary"
  