%h2 New User

= simple_form_for @form, as: :user, url: users_path do |f|
  .row= f.input :name, placeholder: "Name", label: false
  .row= f.input :email, placeholder: "Email", label: false
  .row= f.input :game_id, as: :hidden
  .row= f.submit "Create User"
  