%h2= name

- turns.each do |t|
  %p.entry= t.entry
- if turns.empty?
  %p No entries yet

.timestamps
  %p.timestamp
    Game Started:
    = game_start || "Game has not started"
    %br
    Game Ends:
    = game_end || "Game has not started"
  %p.timestamp
    Current Turn Started:
    = turn_start || "Game has not started"
    %br
    Current Turn Ends:
    = turn_end || "Game has not started"

%ul
  Users:
  - if users.empty?
    no users yet
  - users.each do |u|
    %li
      %a{ href: "mailto:" + u.email }= u.name
