%h5= game.name

.row
  .col 
    .timestamps
      %p.timestamp
        Game Started:
        = game.game_start || "Game has not started"
        %br
        Game Ends:
        = game.game_end || "Game has not started"
      %p.timestamp
        Current Turn Started:
        = game.turn_start || "First turn has not started"
        %br
        Current Turn Ends:
        = game.turn_end || "First turn not started"

%hr

.row
  .col
    #ep
%script= "$(document).ready( $('#ep').pad(#{etherpad_settings}) );"

%hr

.row
  .col 
    Users:
    %ul
      - if game.users.empty?
        no users yet
      - game.users.each do |u|
        %li{ class: u.id == game.current_player_id ? "current-player" : nil }
          = link_to u.name, "mailto:#{u.email}"

