%h5= game_name

.row
  .col 
    .timestamps
      %p.timestamp
        Game Started:
        = game_start || "Game has not started"
        %br
        Game Ends:
        = game_end || "Game has not started"
      %p.timestamp
        Current Turn Started:
        = turn_start || "First turn has not started"
        %br
        Current Turn Ends:
        = turn_end || "First turn not started"

%hr

.row
  .col= link_to "Finish Turn", user_turns_path, class: "btn btn-primary", data: { turbo_method: "post", turbo_confirm: "Confirm you are finished" }
.row
  .col#ep
.row
  .col= link_to "Finish Turn", user_turns_path, class: "btn btn-primary", data: { turbo_method: "post", turbo_confirm: "Confirm you are finished" }
%script= "$(document).ready( $('#ep').pad(#{etherpad_settings}) );"

%hr

.row
  .col 
    Players
    %ul
      - if users.empty?
        no users yet
      - users.each do |u|
        %li{ class: u.id == current_player_id ? "current-player" : nil }
          = link_to u.name, "mailto:#{u.email}"

