%h5= "Users assigned to game #{@game.name}"

%ul
  - @model.each do |u|
    %li{ class: @game.current_player_id == u.id ? "current-player" : nil }
      = link_to u.name, "mailto:#{u.email}"
      = @game.current_player_id == u.id ? "<== current player" : ""
      %br
      = link_to "play", new_user_turn_url(user_token: u.token)
      = link_to "edit", edit_admin_game_user_url(id: u.id)
      = link_to "delete", admin_game_user_url(id: u.id), data: { turbo_method: "delete", turbo_confirm: "Really delete #{u.name}?" }
= link_to "Add User", new_admin_game_user_path, class: "btn btn-primary"
.row
  .col= link_to "Back", admin_games_path
