%h5= game_name

.row
  .col 
    .timestamps
      %p.timestamp
        Game Started:
        = game_start || "Game has not started"
        %br
        Game Ends:
        = game_end || "Game has not started"
      %p.timestamp
        Current Turn Started:
        = turn_start || "First turn has not started"
        %br
        Current Turn Ends:
        = turn_end || "First turn not started"

%hr

.row
  .col= story

%hr

.row
  .col 
    Players
    %ul
      - if users.empty?
        no users yet
      - users.each do |u|
        %li
          = link_to u.name, "mailto:#{u.email}"
          = u.id == current_player_id ? " <== current player" : ""

